<h1>Add new products</h1>
<div class='productAdmin'>
<form action='/admin' method='POST'>
  <div class="input-field">
    <input id="title" name='title' type="text" class="validate" required>
    <label for="title">Title product</label>
    <span class="helper-text" data-error="enter title"></span>
  </div>

  <div class="input-field">
    <input id="group" name='group' type="text" class="validate" required>
    <label for="group">Group product</label>
    <span class="helper-text" data-error="enter group"></span>
  </div>

  <div class="input-field">
    <input id="price" name='price' type="number" class="validate" required min=1 >
    <label for="price">Price product</label>
    <span class="helper-text" data-error="enter price"></span>
  </div>

  <div class="input-field">
    <input id="img" name='img' type="text" class="validate" required>
    <label for="img">URL image</label>
    <span class="helper-text" data-error="enter url image"></span>
  </div>

  <input type="hidden" name="_csrf" value="{{csrf}}">

  <button class='btn btn-primary'>Add products</button>

</form>
</div>
<h1>Edit product</h1>

<div class='productAdmin' id='product'>
  {{#if products.length}}
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Group</th>
        <th>Price</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>

      {{#each products}}
      <tr>
        <td>{{title}}</td>
        <td>{{group}}</td>
        <td>{{price}}</td>
        <td>
          <a class=" btn waves-effect waves-light " href="/products/{{id}}/edit?allow=true">
            <i class="material-icons right">
              create
            </i>
            EDIT
          </a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{/if}}