<div class='editArticle'>
	<h1>Edit {{article.title}}</h1>

	<form action='/articles/edit' method='POST' class="article-form">

		<div class="input-field">
			<input id="author" name='author' type="text" class="validate" required value="{{article.author}}">
			<label for="author">Author</label>
			<span class="helper-text" data-error="enter name author"></span>
		</div>

		<div class="input-field">
			<input id="title" name='title' type="text" class="validate" required value="{{article.title}}">
			<label for="title">Title article</label>
			<span class="helper-text" data-error="enter title"></span>
		</div>

		<div class="input-field">
			<input id="img" name='img' type="text" class="validate" required value="{{article.img}}">
			<label for="img">URL image</label>
			<span class="helper-text" data-error="enter url image"></span>
		</div>

		<div class="input-field">
			<textarea id="text" name='text' type="text" class="materialize-textarea" required>
		{{article.text}}
		</textarea>
			<label for="text">Text article</label>
			<span class="helper-text" data-error="enter new text"></span>
		</div>

		<input type='hidden' name='id' value='{{article.id}}'>
		<input type="hidden" name="_csrf" value="{{csrf}}">

		<button type="submit" class='btn btn-primary'>Edit article</button>

	</form>

	<form action="/articles/remove" method="POST">
		<input type="hidden" name="_csrf" value="{{csrf}}">
		<input type="hidden" name="id" value="{{article.id}}">
		<button class='btn red'>delete article</button>
	</form>
</div>