<div class="nav-wrapperBread">
  <div class="col s12">
    <a href="/" class="breadcrumb">HOME</a>
  </div>
</div>
<h1 class="card-panel teal lighten-2">Products</h1>

{{#if products.length}}
{{#each products}}
<div class="rowProduct">
  <div class="col s12">
    <div class="card">
      <div class="card-image">
        <img src="{{img}}" alt="{{title}}">
      </div>
      <div class="card-content">
        <span class="card-title">{{group}}</span>
        <span class="card-title">{{title}}</span>
        <p class="price">{{price}}</p>
      </div>
      <div class="card-action actions">
        <a href="/products/{{id}}">
          <button class='btn btn-primary'>Open product</button>
        </a>
        {{#if @root.isAuth}}
        <form action="/card/admin" method="POST">
          <input type="hidden" name="_csrf" value="{{@root.csrf}}">
          <input type='hidden' name='id' value="{{id}}">
          <button type='submit' class='btn btn-primary'>BUY</button>
        </form>
        {{/if}}
      </div>
    </div>
  </div>
</div>
{{/each}}
{{else}}
<h1>Out of stock items</h1>
{{/if}}